<div [ngClass]="{'darkMode': customTheme}">
<div class="row">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Product</span>
      <span class="container-spacer"></span>
      <button mat-icon-button (click)="changeTheme()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon *ngIf="customTheme" aria-label="White Theme">invert_colors</mat-icon>
        <mat-icon *ngIf="!customTheme" aria-label="Dark Theme">invert_colors_off</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div *ngIf="dataIntentService.isLoading | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
</div>

<div class="footer" #footer>
  Prasath Muthaian
</div>

